[2019-05-19 12:18] Res42 opened #3 ".NET Standard support?"
Currently this library only supports `.NET Framework 4.5` according to [the .csproj file](https://github.com/sendinblue/APIv3-csharp-library/blob/master/src/sib_api_v3_sdk/sib_api_v3_sdk.csproj#L4).

This library is generated with `swagger-codegen-cli 2.4.4`. There is a [switch](https://github.com/swagger-api/swagger-codegen/blob/v2.4.4/modules/swagger-codegen/src/main/java/io/swagger/codegen/lang

[2019-05-20 09:22] MichaelRevolvo opened #4 "Issue creating new SendSmtpEmail object"
When trying to create a SendSmtpEmail object:

`var sendSmtpEmail = new SendSmtpEmail(){To = new List<SendSmtpEmailTo>() { new SendSmtpEmailTo() { Email = to, Name = ""} }};`

I get the following exception:

It also happen when I follow the documentation and create an empty object:

`var sendSmtpEmail = new SendSmtpEmail()`

[2019-05-25 16:29] Res42 commented on #4
I'm not associated with SendinBlue, but I can provide some help.

If you check out the source code for the [SendSmtpEmail](https://github.com/sendinblue/APIv3-csharp-library/blob/d0fafcbcc3857da5be06bf39b777f899c7032562/src/sib_api_v3_sdk/Model/SendSmtpEmail.cs#L56-L60) class you can see that the default constructor checks if the `to` parameter is `null`. This throws your exception.

So the workar

[2019-05-27 05:21] MichaelRevolvo commented on #4
I don't know why that didn't come to mind. I guess I just rarely meet code that has validation rules in the constructor, even though it's supposed to be best practice. Thanks a lot!

[2019-05-27 05:21] #4 closed

[2019-06-14 09:18] Mikelsoft99 commented on #3
hey,
this is very simple porting it to the netstandard2.0.
Changing the targetFramework in the project settings and installing the NuGet package
**System.ComponentModel.Annotations**

Problem solved!

Best regards
Mike

--- UPDATE
sorry that's not going to work. On my production server came up some errors!!!

[2019-06-14 16:49] Res42 commented on #3
Hello!

In the end we did this too. But I would have liked it more if there was official support and a nuget package.

I'll include the `.csproj` that worked for us. Also we updated the dependencies.

[code]

[2019-06-14 19:03] Mikelsoft99 commented on #3
Hi, that's sounds strange to me.
I get an exception when the configuration class is created . TypeinitializationException. could not fix this problem, and had to switch over the the net45 framework, as it was in the beginning.

Lucky you if it worked. The piple on azure reported an error in compiling and I had to switch back.

[2019-06-14 19:10] Res42 commented on #3
We didn't encounter this compilation error nor the exception. But we only use `SMTPApi.SendTransacEmailAsyncWithHttpInfo()`.

[2019-06-18 21:33] mbrookson commented on #3
+1 for getting this officially ported to .NET Standard

[2019-08-19 20:04] mbrookson commented on #3
Hi @amitsendinblue, is there any update on when .netstandard will be officially supported? I have deployed a project using the existing package to a Linux environment and run locally on a Mac and it seems to work as expected.

Would be great to see this project maintained properly. Thanks!

[2019-11-08 14:54] cdumange opened #6 "[BUG]Not compatible with latest version of RestSharp"
I tried using your apis with latest version of RestSharp (106.6.10).

Here is the error I got for all the function I tried :

[code]

[2019-12-04 14:49] Tbz8 commented on #6
Same error.

[2019-12-10 14:41] marcostaff commented on #6
The version of RestSharp used by this library is not compatible with .net 4.7.2 and above.
Please update the nuget package.

Temporary I solved by downloading the this solution, updatingh the restsharp by nuget and recompiling.

[2019-12-31 12:47] amitsendinblue commented on #3
Hi @Res42, @Mikelsoft99 ,  @mbrookson , I have incorporated suggested changes to the following branch, could you please check at you end if these changes are working fine for you. In either case please let me know.

https://github.com/sendinblue/APIv3-csharp-library/tree/UpdateWrapper

Thank you

[2019-12-31 12:51] amitsendinblue commented on #6
Hi @cdumange , @Tbz8 , @marcostaff , I have updated the target framework to netstandard2.0 in
 following branch,  this change will also replace the RestSharp 105.1.0 package with these two: FubarCoder.RestSharp.Portable.Core 4.0.7 and FubarCoder.RestSharp.Portable.HttpClient 4.0.7, could you please check at you end if these changes are working fine for you. In either case please let me know.

http

[2020-01-07 11:20] sergiogp90 commented on #6
Hi @amitsendinblue. Are you going to update the official NuGet package to make it compatible with RestSharp 106.6.10? I appreciate your solution in the UpdateWrapper branch, but I prefer to manage all my packages with NuGet.

I have downgrade the RestSharp package to 105.1.0 to make it work for now.

[2020-01-14 08:05] Res42 commented on #3
Hello, I don't work on the project which used this anymore, but I will forward this issue to my colleagues.

[2020-01-17 12:38] amitsendinblue commented on #6
Hi @sergiogp90, Thanks for your reply. The nuget package is updated for same:-https://www.nuget.org/packages/sib_api_v3_sdk/

As mentioned above this change will also replace the RestSharp 105.1.0 package with these two: FubarCoder.RestSharp.Portable.Core 4.0.7 and FubarCoder.RestSharp.Portable.HttpClient 4.0.7.

Based on this closing this issue.
Thanks,
Amit Joshi

[2020-01-17 12:38] #6 closed

[2020-01-17 12:41] amitsendinblue commented on #3
Hi @Res42, Thanks for the reply. I have merged the above mentioned branch into master:- https://github.com/sendinblue/APIv3-csharp-library

Also updated the nuget package for the same :- https://www.nuget.org/packages/sib_api_v3_sdk/

As the issue is resolved now, I am closing this issue.
Thanks,
Amit Joshi

[2020-01-17 12:41] #3 closed

[2020-03-08 10:07] ilan-perez opened #8 "Not compatible"
I am trying to load the package into my .net project. I am running in 4.7.1 and i get this error

Could not install package 'sib_api_v3_sdk 2.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the pack

[2020-03-12 06:49] amitsendinblue commented on #8
Hi @ilan-perez, we have updated few dependencies in the latest release, could you please check once if this solves your issue. Let us know if issue still exists.
Thanks,
Amit Joshi

[2020-03-12 12:49] ilan-perez commented on #8
Hi @amitsendinblue,
Just to be clear I am trying to add the api via nuget. When I do, I receive the error in the initial message. I am not trying to build the project for the DLL...

[2020-03-13 05:46] amitsendinblue commented on #8
Hi @ilan-perez, yes you can use from nuget, the latest release is on nuget also - https://www.nuget.org/packages/sib_api_v3_sdk/2.1.0

[2020-03-13 07:12] ilan-perez commented on #8
Hi @amitsendinblue it doesn't load through nuget. What this video. I am running .net version 4.7.1
https://youtu.be/Mi1pHvmCAl8

[2020-03-13 07:20] amitsendinblue commented on #8
Hi @ilan-perez, Let me check this out, will update you on this.

[2020-03-13 08:03] amitsendinblue commented on #8
Hi @ilan-perez, I made a test on 4.7.1 and it worked for me, could you please check?
https://www.loom.com/share/f95de01abf0e4c04ac9bdd6a5bee0dbc

Please provide more details causing issue to you, so that we can investigate better.

Thanks,
Amit Joshi

[2020-03-15 02:06] ilan-perez commented on #8
I have built two new projects..one web form and one console. I get the same error. I am using vs2013. Do you think that's the problem?

[2020-03-16 06:02] amitsendinblue commented on #8
I don't think vs version can have problem, but could you please try on updated version on visual studio. Are you using any other dependency in your project which may have conflicts with the dependencies which we have use?
We are supporting:
.NETStandard 2.0
FubarCoder.RestSharp.Portable.Core (>= 4.0.8)
FubarCoder.RestSharp.Portable.HttpClient (>= 4.0.8)
JsonSubTypes (>= 1.2.0)
Newtonsoft.Json (>=

[2020-03-17 05:22] ilan-perez commented on #8
I tried it on vs 2017 community and it worked. I am not sure why it wont load in vs 2013 ultimate

[2020-03-17 06:34] amitsendinblue commented on #8
Ok, can we close this issue?

[2020-03-17 08:00] ilan-perez commented on #8
sure.

On Tue, Mar 17, 2020 at 5:34 PM Amit Joshi <notifications@github.com> wrote:

--
Ilan
linkedIn <http://au.linkedin.com/pub/ilan-perez/23/b63/284>

[2020-03-17 08:49] #8 closed

[2020-03-20 12:04] danieljoristryideas opened #10 "Difficulty sending nested parameters / or lists"
Hello!

How is the correct way to send parameters with nested values?

I try to send using dictionary of <string, object> and added other dictionary in one parameter. But I was not successful.

Code:
[code]
*_the above code is just an example._

**And in my template:**

[code]

What am I doing wrong?

I didn't find any examples in the documentation, would it be possible to create an example with n

[2020-03-30 06:27] amitsendinblue commented on #10
Hi @danieljoristryideas, Which API you are using and could you please share more information which payload you want to pass (json example), so that we can assist you better.
Thanks,
Amit Joshi

[2020-03-31 13:05] chriscfox commented on #4
That helped a lot thanks. I then had the same problem with the email attribute when initialising the SendSmtpEmailTo object.

[2020-03-31 18:26] danieljoris commented on #10
Hello, @amitsendinblue !

I'm sorry about lack of clarity in information.

The json example is:
[code]

Thanks!

[2020-04-01 04:22] amitsendinblue commented on #10
Hi @danieljoris, could you please confirm which API end point you are using and in which field you need to pass this information?

[2020-04-01 04:22] amitsendinblue commented on #10
It will be great if you can provide the curl request.

[2020-04-01 11:23] ghost commented on #10
@amitsendinblue I'm using this endpoint: [SMTPApi.SendTransacEmail()](https://github.com/sendinblue/APIv3-csharp-library/blob/master/docs/SMTPApi.md#sendtransacemail). | https://api.sendinblue.com/v3/smtp/email (POST)

I'm trying to pass Parameters. List of parameters like in [Json](https://github.com/sendinblue/APIv3-csharp-library/issues/10#issuecomment-606795487)

I think everything is okay in

[2020-04-02 06:26] amitsendinblue commented on #10
Hi @danieljoristryideas, Below is the C# code for the json you have mentioned:

**JSON:-**

[code]

**C# Code:-**

           JObject ProductListObj1 = new JObject();
            ProductListObj1.Add("PRODUCT_NAME", "Avocado");
            ProductListObj1.Add("PRODUCT_PRICE", "R$ 10,50");

            JObject ProductListObj2 = new JObject();
            ProductListObj2.Add("PRODUCT_NAME", "Avocado"

[2020-04-14 10:46] amitsendinblue commented on #10
Hi @danieljoristryideas, hope this issue is resolved from above mentioned solution, so closing this issue now.
Thanks,
Amit Joshi

[2020-04-14 10:46] #10 closed

[2020-04-16 11:04] vmartynets opened #11 "Incorrect boolean to string conversion"
Hi!
I'm tried to use this SDK to fetch email template as following:
[code]
but received a weird error:
[code]

There is a bug in [`ApiClient.ParameterToString`](https://github.com/sendinblue/APIv3-csharp-library/blob/master/src/sib_api_v3_sdk/Client/ApiClient.cs#L247) method when it tries converting boolean to string it returns boolean as string but with capital letter. Quick example:
![image](htt

[2020-04-26 18:16] FrancoisKr opened #13 "SendSmtpEmail params"
Hi

Params don't seem to work, getting the following error whatever I pass:
Message = "Error calling SendTransacEmail: {\"code\":\"invalid_parameter\",\"message\":\"Invalid params\"}".

Tried this:
[code]
And this:
[code]
Thank you

[2020-04-26 19:43] fk-inspirit-tech commented on #13
var v = new { ORDER = "CCC", DATE = "DDD" };

and pass v to SendSmtpEmail...

[2020-04-26 19:43] #13 closed

[2020-05-15 12:10] umair-me commented on #11
Fixed in #12

[2020-05-21 11:05] amitsendinblue commented on #11
mentioned PR incorporated in new release - https://github.com/sendinblue/APIv3-csharp-library/releases/tag/v2.1.11

[2020-05-21 11:05] #11 closed

[2020-06-29 11:27] krishna666-tech opened #16 "sib_api_v3_sdk.Client.Configuration' threw an exception"
Hi
I have an issue using this sdk.
Below is the error.

{"Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference.
(Exception from HRESULT: 0x80131040)":"Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6

[2020-06-29 19:41] vd3d opened #17 "Create a nuget please"

[2020-06-29 19:43] #17 closed

[2020-07-01 14:20] ramihamati opened #18 "Cannot send email"
I am trying to use this package, I have an account set up. I managed to add a contact using the example but when I try to send an email I have the following error
[code]

System.IO.InvalidDataException: 'email is a required property for SendSmtpEmailSender and cannot be null'

[2020-07-05 15:30] jcarenton opened #19 "GetEmailEventReport failed when Json response include subject has array."
GetEmailEventReport failed when Json response include subject has array.

Unexpected character encountered while parsing value: [. Path 'events[1].subject', line 1, position 352.

{
   "events":[
      {
         "email":"to@gmail.com",
         "date":"2020-06-16T19:22:15.000-04:00",
         "subject":"Test subject",
         "messageId":"",
         "event":"requests",
         "tag":"",

[2020-07-06 05:41] amitsendinblue commented on #18
Please try below code:

[code]

[2020-07-06 05:53] amitsendinblue commented on #19
Hi @jcarenton, We are already aware from this issue and are activity working on it. We will update here as soon as the issue is fixed.
Thanks

[2020-07-06 06:04] amitsendinblue commented on #16
Hi @krishna666-tech, Could you please share more details like .NET version of your application, type of your application and a sample piece of code or any screenshot or video so that we can investigate the issue and help you better.
Thanks

[2020-07-15 05:25] amitsendinblue commented on #18
I hope this solution will work fine, closing the issue.

[2020-07-15 05:25] #18 closed

[2020-07-15 06:03] ramihamati commented on #18
Thanks for the solution. I will try it.

[2020-07-18 19:49] ramihamati commented on #18
Sorry for the late response. I did followed on your example, and instead of using an object initializer I passed the parameters in the constructor.

This solution works, although I find it confusing that you allow for null values in the constructor and immediately validate them. Object initializer will first call the ctor and then initialize the properties. I don't really see the use of allowing n

[2020-08-14 05:42] amitsendinblue commented on #16
Closing the issue because of no response, please feel free to reopen if you still face the issue with more details.
Thanks

[2020-08-14 05:42] #16 closed

[2020-09-04 13:59] m--c opened #20 "Embedding Images"
Hi! sorry for posting an issue here, but I couldnt find anything on the web. How can I embedd/inline images when sending with this api?
thanks in advance

[2020-09-08 10:23] amitsendinblue commented on #20
Hi @m--c, Which API are you using and what do you want to send? Could you please elaborate more so that I can assist you better?
Thanks

[2020-09-08 12:32] m--c commented on #20
Hi!
Basically, I want to embed images in the email's body. Dynamically generated images that cannot be sent as linked resources, such as qr codes or other generated visual elements. Most transactional email apis have such functionality, furthermore, I see this api used to have it. Embedded images are not really attachments. I could try to replicate the functionality by setting base 64 strings in t

[2020-09-17 06:35] amitsendinblue commented on #20
Hello @m--c,
Earlier we used to allow embed images in email body (in API V2) but we do not allow it now as this is outdated and may affect the email deliverability and the senders reputation also. We recommend you to use images as attachment (Base 64 content or attachment URL).
Thanks

[2020-09-17 06:35] #20 closed

[2020-10-21 02:08] amedriveroperez1984 opened #21 "No Transactional Attributes sent."
I'm trying to send a "Template" but transactional attributes are not been shown properly in the result email.
The email is sent properly but the Transactional attributes are not replaced accordingly.

C# Code:
[code]

Find attached Transactional attributes config and Template definition.

<img width="1022" alt="Transactional Attributes" src="https://user-images.githubusercontent.com/13276976/96665

[2020-10-21 09:38] dbraillon opened #22 "Deleting all contacts from a list has missing properties in response object"
Regarding the [API documentation](https://developers.sendinblue.com/reference#removecontactfromlist), **Delete a contact from a list** has three different uses cases. The third option allows the user to completely remove all users from a specific list. In that case, the response should give a **processId** to keep track of the completion state.

Neither [PostContactInfo](https://github.com/sendinb

[2020-11-02 10:09] pravin-sib commented on #21
Hi,

Please note that currently, we replace the dynamic value for the following cases.

1. Normal attributes:

The client needs to define {{contact.attribute_name}} in his template and if the receipt contact is added in the client’s contact list and having the value for attribute_name, it would be replaced with that value in email.

Currently, we do not support this feature for the transactional a

[2020-11-02 13:04] MrFishchev commented on #4
Please, reopen the issue. It is not fixed during the year...

[2020-11-02 13:54] JeePeeTee commented on #4
This is based on the code generator of Swagger. The tool used to define this (client) API. The field **To** is marked as required and is checked in the construction of this object.

[2020-11-02 18:59] Napalmpje commented on #21
I ran into exactly the same issue, also using the SendTemplate method of the API instead of the SendTransacEmail.
It's only that I had to go to the source code to get a clue what the *** was going on.
Why not mark that method as [Obsolete] or so?

[2020-11-04 06:30] amitsendinblue commented on #22
Resolved in latest release:- https://github.com/sendinblue/APIv3-csharp-library/releases/tag/v3.0.0
Closing this issue

[2020-11-04 06:30] #22 closed

[2020-11-04 09:27] amitsendinblue commented on #21
Hi @Napalmpje, The issue you are talking about is different - and in the reference document we have marked send a template API as deprecated and mentioned that it will stop working the 31st December 2020 at 00:00:00 UTC.
https://developers.sendinblue.com/reference#sendtemplate-1

The issue reported by @amedriveroperez1984 is about templating language which @pravin-sib has provided the resolution.

[2020-11-04 09:27] #21 closed

[2020-11-04 15:32] ctreudler opened #25 "SendEmail Attributes DataMember"
how to pass data in this array?

Error calling SendTemplate: {"code":"invalid_parameter","message":"attributes are not valid"}

[2020-11-05 04:14] amitsendinblue commented on #25
Hi @ctreudler, could you please provide more details like the code you are using so that we can assist you better?
Below is the sample code to pass attributes for SendTemplate request:
[code]

[2020-11-08 14:57] Errox opened #26 "SendEmail attributes don't show up on the template"
I'm using the following code while using the API. Only I can't get my params to show up within the mail.

Am I missing something?

` Configuration.Default.AddApiKey("api-key", "Key");

            var apiInstance = new TransactionalEmailsApi();
            var templateId = 2;
            string[] mails = { Mail };
            List<string> mailList = new List<string>(mails);

            JObject at

[2020-11-13 12:03] amitsendinblue commented on #26
Hi @Errox, I checked with the provided API scripts and found that the you using the 'send a template' API V3 endpoint to send a transactional email https://developers.sendinblue.com/reference#sendtemplate-1.

Please note that the above-mentioned endpoint is marked as deprecated and it does not support the params and also you passed the params value in the attributes as well which is not correct. T

[2020-11-13 12:04] amitsendinblue commented on #26
For more information please refer following link:
https://github.com/sendinblue/APIv3-csharp-library/blob/master/docs/SMTPApi.md#sendtransacemail

[2020-11-13 12:07] #26 closed

[2020-11-17 05:46] amitsendinblue commented on #25
Hi @ctreudler, I hope above answer solved your issue, closing this issue due to no reply from more than 11 days.

Thanks

[2020-11-17 05:46] #25 closed

[2020-12-05 16:58] amedriveroperez1984 opened #27 "Send Email - Wrong link url in email sent"
After upgrade to version 3.0.0 I'm sending a URL to my template, but the final link on email is landing on a 404 page that I don't know from where it came.

**This is it**: [https://dcaaejj.r.bh.d.sendibt3.com/tr/cl/dsIH28ebVdB7XjbYVOP6f5RNmYyKJEXAERimvbloOjicqOYTOmU1-78vhABqUVDisZRcDydgiteqV-L_t7wB_8DJ22IXuXLWHsABuinwyjrAHatf4DTbyDn0UYdrGKbKswM7rHW1cqWUYN1X-EYk88pA](https://dcaaejj.r.bh.d.sendibt

[2020-12-10 00:48] amedriveroperez1984 commented on #27
Any updates on this??

[2020-12-10 11:59] amitsendinblue commented on #27
Hi @amedriveroperez1984, Thank you for reporting this issue and it does not look a wrapper specific issue.

I would request you to please try once using curl request also to be sure that is this the issue specific to c# client or the URL.

Please report this issue with our support team from you account (https://account.sendinblue.com/support  --> please create a new ticket) and provide more detail

[2020-12-10 11:59] #27 closed

[2020-12-16 04:38] amedriveroperez1984 opened #28 "PARAMS missing on Emial sent."
After upgrade to version 3.0.0 any of the PARAMS sent are been reflected on the result email.

Before there were rendered successfully.

[2020-12-16 04:40] amedriveroperez1984 commented on #28
**** Building Email info

public async Task<bool> SendLaneclosureReviewedEmail(int laneclosureId)
        {
            try
            {
                LaneClosureRequestDto laneclosure = await _laneClosureRequestRepository.FindDto(laneclosureId);
                string requestorEmail = (await _userManager.FindByIdAsync(laneclosure.RequestorId))?.Email;

                AppUser approver = await

[2020-12-16 04:40] amedriveroperez1984 commented on #28
*****Common method to send emails
private async Task<bool> SendEmail(SendSmtpEmailSender sender, List<SendSmtpEmailTo> to, JObject headers, long templateId, JObject _params, List<string> tags)
        {
            try
            {
                var apiInstance = new TransactionalEmailsApi();
                if (!Configuration.Default.ApiKey.ContainsKey("api-key"))
                {

[2020-12-16 04:44] amedriveroperez1984 commented on #28
***** Template definition

A Lane Closure Request (#{{params.LCNUMBER}}) was reviewed by {{params.LCUSER}} at {{params.LCDATE}}, and is waiting for your review.

Please go to the following URL to review the Lane Closure Request: Click here!

Thanks.
Lane Closure Information System (https://www.site.com)

[2020-12-16 04:45] amedriveroperez1984 commented on #28
****Email sent

A Lane Closure Request (#) was reviewed by at , and is waiting for your review.

Please go to the following URL to review the Lane Closure Request: Click here!

Thanks.
Lane Closure Information System (https://www.site.com)

[2020-12-16 14:24] amitsendinblue commented on #28
Hi @amedriveroperez1984, As far as I understood you want to pass params in the email, I would request you to please try below code once.

[code]

If issue still exists please report this issue with our support team from you account (https://account.sendinblue.com/support --> please create a new ticket) and provide more details like the request payload you are using while creating the issue. As it

[2020-12-16 14:24] #28 closed

[2020-12-18 03:45] amedriveroperez1984 commented on #28
Thanks!!! It works!!!

[2020-12-18 19:52] AminEsmaeily opened #29 "Classes Constructor design"
Some classes have mandatory parameters and if the user doesn't pass them into the method from their constructor, they raise InvalidDataException at runtime. The following image shows that the constructor parameters are optional in `SendSmtpEmailSender` and `SendSmtpEmailTo` classes:
![1](https://user-images.githubusercontent.com/11803924/102654828-7f2cd600-4186-11eb-9f8b-3bf835a0d8c0.png)

I've se

[2021-01-06 11:09] amitsendinblue commented on #29
Hi @AminEsmaeily, We have marked some fields as optional that were initially marked as required in the latest release. Please use the latest solution and let us know if you still face the issue.

Release:- https://github.com/sendinblue/APIv3-csharp-library/releases/tag/v3.1.0
Nuget:- https://www.nuget.org/packages/sib_api_v3_sdk/3.1.0

Thanks

[2021-01-06 11:09] #29 closed

[2021-01-21 18:27] kccsf opened #31 "AddContactToList deserialization error"
Upgraded sib_api_v3_sdk.dll from 1.0.0 to the current latest (3.1.0) which did not resolve the issue.

Error:
sib_api_v3_sdk.Client.ApiException: 'Cannot deserialize the current JSON object (e.g. {"name":"value"}) into type 'System.Collections.Generic.List`1[System.String]' because the type requires a JSON array (e.g. [1,2,3]) to deserialize correctly.
To fix this error either change the JSON to a

[2021-01-22 04:29] amitsendinblue commented on #31
Hi @kccsf, It looks like you are calling two API routes in above example `contactsApiInstance.CreateContact` and `contactsApiInstance.AddContactToList`. Please use the examples mentioned in the reference document.

**[Create a contact](https://developers.sendinblue.com/reference#createcontact)**

[code]

**[Add existing contacts to a list](https://developers.sendinblue.com/reference#addcontacttoli

[2021-01-22 11:02] kccsf commented on #31
Hi @amitsendinblue

Thank you for the response. However, the test code posted above and live implementation are working again today. Perhaps someone reverted an api change...:
Today's response:
   `{"contacts":{"success":["john.doe@sendinblue.com"],"failure":[]}}`

Yesterday's response:
   `{"contacts":{"success":{"ids":[],"emails":["john.doe@sendinblue.com"]},"failure":[]}}`

[2021-01-22 11:02] #31 closed

[2021-02-02 23:26] j-bbr opened #32 "SendTemplate fails silently when setting Attributes/Parameters"
I understand the endpoint is deprecated (in the documentation, the method unfortunately isn't marked obsolete) but setting attributes/parameters using this method just fails silently. A warning or even removing the method altogether would be preferable. I am under the impression that the preferred new way to do this is #28 but that could be better documented.

[2021-02-03 05:28] amitsendinblue commented on #32
Hi @j-bbr, Thanks for the feedback, we will remove the method soon.

[2021-02-03 05:28] #32 closed

[2021-03-24 09:17] antoninkalk opened #34 "TransactionalEmailsApi : Sender is missing"
Hello,

I am working on this issue for hours now and can't find the solution.

All my parameters are correctly set.

Visual studio exception :
![sendinbluefail](https://user-images.githubusercontent.com/66551222/112284468-91d51080-8c89-11eb-9e86-e3c9bca87a32.PNG)

Fiddler trace :
![fiddler](https://user-images.githubusercontent.com/66551222/112284937-1031b280-8c8a-11eb-8ef4-f99e2198a414.PNG)

Than

[2021-04-07 22:04] OPSnake opened #35 "Error NU1605 Detected package downgrade"
Hello,

Remove reference of FubarCoder.RestSharp.xxx in package nuget for fix downgrade reference in project.
![image](https://user-images.githubusercontent.com/11973667/113940280-804d4600-97fd-11eb-8939-ec4ea97bfc37.png)

[2021-04-10 07:32] GokulprasathG-P opened #36 "Unable to resolve dependency 'FubarCoder.RestSharp.Portable.Core'"
When i try to install nuget pkg in visual studio 2019 in a asp.net project, its showing me a error of unable to resolve dependency 'FubarCoder.RestSharp.Portable.Core', please help me with this

[2021-04-14 10:13] amitsendinblue commented on #34
Hi @antoninkalk, First of all sorry for the late reply, somehow I missed to check the issue reported by you.

It seems like the issue with passing incorrect inputs for the API. Please refer the example mentioned in the reference document ([link](https://developers.sendinblue.com/reference#sendtransacemail)).

![image](https://user-images.githubusercontent.com/40165148/114694261-fab72200-9d37-11eb-

[2021-04-14 10:13] #34 closed

[2021-04-14 10:23] amitsendinblue commented on #35
Hello @OPSnake, could you please elaborate more on this like which type of .net application you are using, the version of .net framework you are using and the exact issue which you are facing. So that we can investigate better.
FYI we support:
.NET Core >=1.0
.NET Framework >=4.6.1

[2021-04-14 10:25] amitsendinblue commented on #36
Hi @GokulprasathG-P, could you please elaborate more on this like the version of .net framework you are using and the exact issue which you are facing with some screenshot or video or sample code to replicate the same. So that we can investigate better.
FYI we support:
.NET Core >=1.0
.NET Framework >=4.6.1

[2021-04-21 18:28] ewomack2000 opened #37 "Support of async calls in C#?"
Hello, the API library is really easy to use, but does it work with async/await? I cannot get async/await to work using C#.

[2021-04-27 05:05] amitsendinblue commented on #35
Closing this as there is no response for more than 11 days.

[2021-04-27 05:05] #35 closed

[2021-04-27 05:05] amitsendinblue commented on #36
Closing this as there is no response for more than 11 days.

[2021-04-27 05:05] #36 closed

[2021-05-05 17:48] EricBos opened #38 "sib_api_v3_sdk.Model.GetLists is not strongly typed"
The result is a list of type <Object>

If there was at least an Id, the call to the GetList for more details could be made.
Now it's just Json.

Preferably sib_api_v3_sdk.Model.GetLists would contain the Id and Name

[2021-05-07 05:22] amitsendinblue commented on #38
Hello @EricBos, I am sorry but I couldn't understand the issue, could you please explain little more with some example.
Thanks

[2021-05-07 07:26] EricBos commented on #38
https://github.com/sendinblue/APIv3-csharp-library/blob/master/docs/GetLists.md returns a `List<Object>`
It would be great if it would return a `List<GetList>` e.g.

As far as I am aware the List is not customizable by a client, so it could be easily predicted what kind of properties there would be on that result.

[2021-05-13 23:43] ajitgoel opened #39 "getting "email is a required property for SendSmtpEmailReplyTo and cannot be null" error"
Hi,
i am getting "email is a required property for SendSmtpEmailReplyTo and cannot be null" error even though email has been provided. What am I missing?

![image](https://user-images.githubusercontent.com/6394444/118200521-e3448500-b41a-11eb-9d00-c1c758f79f0c.png)
[code]

[2021-05-14 03:24] amitsendinblue commented on #39
Hi @ajitgoel, please refer below example for passing ReplyTo details:
[code]
Please refere the [reference document](https://developers.sendinblue.com/reference#sendtransacemail) which has all the C# example written.
![image](https://user-images.githubusercontent.com/40165148/118216855-e9c21380-b491-11eb-8a9e-3d6e64a08fa0.png)

[2021-05-14 03:48] ajitgoel commented on #39
@amitsendinblue, if you look at the screenshot, it shows that the email address was provided to SendSmtpEmailReplyTo. how will changing the code to what you have change anything? I will try it out though.

[2021-05-14 03:53] ajitgoel commented on #39
Same result as before, please see screenshot.

![image](https://user-images.githubusercontent.com/6394444/118218876-f4eb5400-b43d-11eb-812d-9143e03d1399.png)

[2021-05-16 06:54] ajitgoel commented on #39
Any further updates?

[2021-05-17 07:07] amitsendinblue commented on #39
Hi @ajitgoel, could you please try below code. Please let me know if still not working.
[code]

[2021-06-07 07:23] amitsendinblue commented on #39
Hi @ajitgoel, I hope above answer solved your issue, closing this issue due to no reply from more than 11 days.

[2021-06-07 07:23] #39 closed

[2021-08-24 20:58] EricBos opened #40 "ContactsApi.GetContactInfo throws on non-existing contacts"
The GetContactInfo (and all its variants) is throwing on a non-existing contact.
I cannot find a working alternative apart from downloading ALL contacts in a loop and then checking if that one contact already exists before Creating a new record.

According to the documentation here: https://developers.sendinblue.com/reference/contacts-7#getcontactinfo-1
The method should return a 404 when an item

[2021-09-02 15:35] EnjoyMachine opened #41 "Missing parameter for method GetTransacEmailsListAsync"
The "limit" parameter is necessary in the url
The value must be an optional parameter in the method (By default it should be 500)

I have an exemple where you can see that if the parameter is not sent, I don't receive any values

With parameter:
![with-parameter](https://user-images.githubusercontent.com/47820810/131873430-b502b482-d4fd-4a93-8456-673f4987f21f.jpg)

Without parameter:
![without-par

[2021-09-03 08:09] EnjoyMachine commented on #41
I can't add a branch in Github to add the solution so here is the file with the correction
[TransactionalEmailsApi.zip](https://github.com/sendinblue/APIv3-csharp-library/files/7104293/TransactionalEmailsApi.zip)

[2021-09-14 11:19] amitsendinblue commented on #41
Hello @EnjoyMachine, Sorry for the late reply.
I tried same scenario with my test account it is working as expected for me - limit is optional parameter and getting results without limit parameter as well. It might be an account specific issue.
I would request you to please report this issue with our support team from you account (https://account.sendinblue.com/support  --> please create a new tic

[2021-09-14 11:19] #41 closed

[2021-09-15 12:38] mausch opened #42 "Webhooks types/serialization"
Would be nice to add types and serialization functions for https://developers.sendinblue.com/docs/transactional-webhooks so I don't have to write and maintain that code myself 🙂

[2021-09-16 22:55] JeremyCaron opened #43 "When Adding the api-key: "The Key Already Existed In The Dictionary""
I'm sure I must be missing something here, but after working with this API in my dotnet 5 ASP.NET Web API projects, I'm unclear on how best to proceed.  It's clear that setting the API key is meant to be done only once since the default configuration is static.  To accomplish this, I added this call to the constructor of my Startup class (that setting does have the API key):

`sib_api_v3_sdk.Clien

[2021-09-30 14:52] jap64 commented on #43
Not sure if there's a better way but i just use the following check:

`
if (!Configuration.Default.ApiKey.ContainsKey("api-key"))
    Configuration.Default.ApiKey.Add("api-key", api_key);
`

[2021-09-30 23:22] JeremyCaron commented on #43
Thanks @jap64, but that's exactly the check I was implying when I said:

[2021-10-06 10:28] heypetey opened #45 "GetEmailEventReport does not work with _event parameter"
When using apiInstance.GetEmailEventReport(null, null, null, null, null, null, "SoftBounces") to get emails with the event "SoftBounces" I always get {"Error calling GetEmailEventReport: {\"code\":\"invalid_parameter\",\"message\":\"Event name is not valid\"}"}

I tried different spellings as well but I get the mentioned error every time. Tried as well with other events but same there.

Any soluti

[2021-10-06 10:54] heypetey commented on #45
I finally found the correct spellings here https://developers.sendinblue.com/reference/getemaileventreport-1

Might be a good idea to either link that somewhere here or add the list of spellings to the documentation.

[2021-10-06 10:54] #45 closed

[2021-10-13 14:43] amitsendinblue commented on #43
Hi @JeremyCaron,
Instead of using the default Configuration object which is static, please use the Configuration object instantiation.

Please use below code as a reference, I hope this will solve the purpose.

[code]
Please let us know if this solution doesn't work for you.
Thanks

[2021-10-13 14:43] #43 closed

[2021-10-13 14:48] amitsendinblue commented on #42
Hi @mausch, Could you please elaborate the suggestion a bit more?
Thanks

[2021-10-13 15:09] amitsendinblue commented on #40
Hi @EricBos,
It is expected that it will throw an exception in case of non existing contact. Since 404 is a non success status code.
You can access the error code being returned in the catch block using e.ErrorCode and implement your logic accordingly.
Below is the example for the same.

[code]

[2021-10-13 15:09] #40 closed

[2021-10-13 15:16] amitsendinblue commented on #37
Hi @ewomack2000,
C# does step by step execution by default, which means unless the first line is executed, the control will not move on to the next line.

If you could clarify the use-case and provide us with a sample script, we would be able to suggest a better solution.
As a sum up, if you just want to use the methods provided by our SDKs, then async/await is not really needed.
Please let us kno

[2021-10-13 15:26] amitsendinblue commented on #38
Hi @EricBos,
The model `GetList` returns exhaustive data for a list but we return only limited properties for `GetLists` model.
So the change you mentioned can not be implemented.
The possible list of properties that we return for `Getting all Lists` can be found in the reference doc. (screenshot attached below)

![image](https://user-images.githubusercontent.com/40165148/137164629-8c3171d8-505b-4

[2021-10-13 21:24] mausch commented on #42
Map each event type to a C# type and make them deserializable with some standard library like System.Text.Json or Newtonsoft.

[2021-10-18 10:57] EricBos commented on #40
https://docs.microsoft.com/en-us/dotnet/standard/exceptions/best-practices-for-exceptions

Exception handling does not belong in normal application flow. (Maybe that's why it's called an Exception).

If there was a method that would allow checking if the contact would exist, that could be invoked without having an exception.
If without checking that, a contact would be created anyway, the exceptio

[2021-10-26 07:55] ElliotCK1 opened #46 "Create a contact and add it to a list"
Hello,

I am trying to create a contact from my website with C#. To do it, I followed the documentation on this page : https://developers.sendinblue.com/reference/createcontact
Unfortunately, I have an error as you can see on the next screenshot :
![github_screen](https://user-images.githubusercontent.com/93184823/138832887-0525f144-a710-41fe-877a-1a8124a2a833.png)

The error is that the key alrea

[2021-11-05 09:59] nghaninn commented on #46
Duplicate of #43 look at @jap64's solution.

Alternatively you can always declare new apikey
` var configuration = new sib_api_v3_sdk.Client.Configuration();
 configuration.ApiKey.Add("api-key", <<SendinblueApiKey>>);
 var apiInstance = new TransactionalEmailsApi(configuration);`

[2021-11-05 13:13] tamilcantroz opened #47 "NuGetCmdletUnhandledException,NuGet.PowerShell.Commands.InstallPackageCommand"
Hi, when i try to install with nutget in my visual studio express 2013 :
PM> Install-Package sib_api_v3_sdk -Version 3.2.0

i got the following error :
Install-Package : La connexion sous-jacente a été fermée : Une erreur inattendue s'est produite lors de l'envoi.
Au niveau de ligne : 1 Caractère : 16
+ Install-Package <<<< sib_api_v3_sdk -Version 3.2.0
+ CategoryInfo : NotSpecified: (:) [Install-

[2021-11-06 09:21] tamilcantroz commented on #47
Hi adam,

i could work around the problem of nuget online by dowloading the package in my local folder and using the following line :

**PM> Install-Package sib_api_v3_sdk -Version 3.2.0 -Source C:\FRANCESCO\Project**

But i still get error :

**Installation de « sib_api_v3_sdk 3.2.0 ».
Installation de « sib_api_v3_sdk 3.2.0 » terminée.
Ajout de « sib_api_v3_sdk 3.2.0 » à HairCollection3.
Désinsta

[2021-11-06 10:40] tamilcantroz commented on #47
Hi, i also saw here : 

https://github.com/sendinblue/APIv3-csharp-library

that you support this framework :

.NET Framework >=4.6.1
so i installed the 4.6.1 in my porject and still have the same problem :

Install-Package sib_api_v3_sdk -Version 3.2.0 -Source C:\FRANCESCO\Project
Installation de « sib_api_v3_sdk 3.2.0 ».
Installation de « sib_api_v3_sdk 3.2.0 » terminée.
Ajout de « sib_api_v3_sd

[2021-11-12 05:11] amitsendinblue commented on #47
Hi @tamilcantroz, our latest version 3.2.0 is compatible with .NET Framework >=4.6.1, below is the video link for the reference.
https://www.loom.com/share/26e1c89c0ac5481bb1efb54538f1ce94?sharedAppSource=personal_library

This may be the issue with the visual studio express 2013
https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2013/hh266747(v=vs.120)

Please check thi

[2021-11-12 05:16] amitsendinblue commented on #46
Closing this issue as it's duplicate of [#43](https://github.com/sendinblue/APIv3-csharp-library/issues/43)

[2021-11-12 05:16] #46 closed

[2021-12-09 16:44] tamilcantroz commented on #47
HI,
thanks for your answer.
I am acutallyi with  .NET Framework 4.6.1, could you tell me what the  .NET Framework of the example (code surce here) in order to install and try to generate the DLL from this project?
Thanks

[2021-12-29 16:41] EnjoyMachine opened #48 "Missing "limit" parameter for method GetTransacEmailsListAsync"
Hi

The parameter "Limit" for the method "GetTransacEmailsListAsync" must be optionnal to fill because in some cases you can't receive data if this parameter is not sent to sendinblue.

He is the case to reproduce the problem :
We are the 29th of december 2021.
I send an email at nearly 5pm

So I call the api with the following parameters
messageId : "my message id"
startDate : 2021-12-29
endDate

[2021-12-31 13:42] tamilcantroz opened #49 "Problem when i try to send an email with c# mvc : The key already existed in the dictionary."
I have my code asp.net MVC c# running in my controller,
When i try my code the first time it works, but if i try the same code twice i got the following error :
Server Error in '/' Application.
The key already existed in the dictionary.
Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error an

[2022-02-07 09:04] sschwei1 commented on #49
The ApiKey is just saved in an Dictionary. In your case the key is `api-key` and its value is the actual apiKey (in your case `MYKEY`), you can check if the key exists and only add if needed like this:
[code]

---

You can also use
[code]
which will execute following code under the hood
[code]

The advantage here is, that you will not get an error by adding the same key multiple times, if the key

[2022-02-19 10:23] jcarenton opened #50 "Error converting value "loadedByProxy""
Changes in Apple’s Mail Privacy Protection

Method GetEmailEventReport failed.

**Error converting value "loadedByProxy" to type 'sib_api_v3_sdk.Model.GetEmailEventReportEvents+EventEnum'. Path 'events[0].event', line 1, position 272.**
**Exception sib_api_v3_sdk.Client.ApiException on assembly sib_api_v3_sdk.**
Stack Trace:    at sib_api_v3_sdk.Client.ApiClient.Deserialize(IRestResponse response,

[2022-02-25 20:48] dvdnhm opened #51 "Create Campain endpoint > header field is not optional"
I am trying to implement CreateEmailCampaign endpoint in our system. I don't really have anything to say in the header, so I want to leave it empty... I tried null, "", " " as header value.... but I keep getting the error below. I am surprised that you haven't considered this possibility...

Error Message:
Exception has occurred: CLR/sib_api_v3_sdk.Client.ApiException
Exception thrown: 'sib_api_v3

[2022-03-03 11:56] amitsendinblue commented on #51
Please try below line of code with latest version, I am able to pass null in headers, please let us know if you still face the issue.
[code]

[2022-03-03 11:56] #51 closed

[2022-03-03 12:01] amitsendinblue commented on #50
Please try with latest release 3.3.0

[2022-03-03 12:01] #50 closed

[2022-03-03 12:01] amitsendinblue commented on #48
please try with latest release v3.3.0

[2022-03-03 12:01] #48 closed

[2022-03-03 12:39] jcarenton commented on #50
Thank you for information, but since the issue #19 (not resolved) we have moved on source code and we no longer use release and nuget package.

[2022-03-03 14:43] EnjoyMachine commented on #48
Perfect, thanks

[2022-03-24 12:29] Tilwin90 opened #53 "Introduction of sib_api_v3_sdk.Model.Task introduces ambiguity"
With the upgrade to package version `3.3.0` on our solution I noticed the introduction of "Task" type that adds ambiguity with respect to "System.Threading.Tasks.Task" in files operating on `sib_api_v3_sdk.Model`.

While not a hard to fix issue, as one can resolve the ambiguity with a using statement pointing to the System.Threading task, it does introduce a breaking change that could be avoided a

[2022-05-24 07:02] bahs opened #54 "NullReferenceException when call SendTransacEmail"
The code that worked for couple of years started to generate NullReferenceException when we call SendTransacEmail method to send transactional email. Nothing was changed on our side. Upgrading to the last version of library(3.3.0) didn't helped.
Our environment is .NET 5, Azure.

Here's the call stack
System.NullReferenceException:
   at RestSharp.Portable.ParameterKeyComparer.Compare (FubarCoder.

[2022-05-25 06:29] bahs commented on #54
If we restart the server - everything works good for about 1 day, after that we get this exception again.

[2022-06-09 17:32] sadux opened #55 "SendTransacEmail with Params with html tag got encoded email"
Hi,

I trying put html tag in Params like:
[code]
On Email client i got encoded that image. Not show picture, only text. How i can fix that please?
Thank you

[2022-06-10 06:48] sadux commented on #55
I found solution. It is escape HTML -> {% autoescape off %} {{ params.image }} {% endautoescape %}

[2022-08-12 04:15] amitsendinblue commented on #47
Hello @tamilcantroz, sorry for the delay in response,
As shown in the video also the code source is with >NET Framework 4.6.1 itself.
Thanks

[2022-08-12 04:15] #47 closed

[2022-08-26 08:07] The-Denno opened #57 "Email Validation Error in SendSmtpEmailReplyTo.cs"
Hello,

we tried to send a transactional email with a replyTo parameter set.
The default reply address in the template is not set.

the following error is raised as exception:

"email is a required property for SendSmtpEmailReplyTo and cannot be null"
InvalidDataException("email is a required property for SendSmtpEmailReplyTo and cannot be null");

This seems to be a bug, we even tried it with onl

[2022-09-23 13:58] larshjohannesson opened #58 "Incompatible with Newtonsoft.Json version 12.03 or newer"
class sib_api_v3_sdk.Configuration.Default fails to initialize if my application is using Newtonsoft.Json version 12.0.3 or later.
With version 12.0.2 of Newtonsoft it is working fine.

The error which is thrown is as follows:

    The type initializer for 'sib_api_v3_sdk.Client.Configuration' threw an exception.
    at sib_api_v3_sdk.Client.Configuration.get_Default()

[2022-10-13 17:58] alejocba04 opened #59 "Validate if emails exists before create or update"
Its any way to do this?

[2022-10-27 14:03] PetesBreenCoding opened #60 "HttpClient"
Hi, is it possible to pass an instance of HttpClient to the TransactionalEmailsApi class? HttpClient works most efficiently if you re-use the same instance across your application, so would like to re-use it.

[2022-11-16 12:34] AKruimink opened #61 "Return object of SendTransecEmail not matching the documentation"
When calling TransactionalEmailAPi.SendTransacEmail the returned object only contains an optional MessageId or list of MessageID's but when checking the actuall documentation I would expect to the the returned object contain a list of IPs defining an id, ip and domain, or an error response with code and message.

Am I missing something obviouse here?

[2022-11-17 06:17] #55 closed

[2022-11-30 20:11] antoinebidault opened #62 "Missing ScheduledAt params in the SendSmtpEmail object"
Hi, we are interested in the schedule transactional e-mail features, but the param is missing in the last version of this SDK.
The doc here : https://developers.sendinblue.com/docs/schedule-batch-sendings
It possible to update the Sdk to the last version of the API in order to add to the SendSmtpEmail the additional DateTime param "ScheduledAt". That would save us lots of pain rewriting our own SD